.root {
    -fx-padding: 10; /* Add a small padding around the window */
    padding: 10;

}

.leftbutton {
    -fx-padding: 10;
    padding: 10;

}

.propview {
    -fx-padding: 10;
    padding: 10;
}

.current {
    -fx-effect: dropshadow(three-pass-box, rgb(255, 0, 0), 10, 0, 0, 0);
 }